.carditems {
  margin-top: 20px;
  border: 2px solid #ccc;
  padding: 20px;
  padding-bottom: 90px;
}

.carditems hr {
  height: 3px;
  background: white;
  border: none;
}

.cartitems-format-main {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 75px;
  color: blue;
}

.cartitems-format-main p {
  font-size: 17px;
  font-weight: bolder;
}

.carditemImg {
  height: 70px;
}

.carditems-format {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 75px;
  color: blue;
  font-size: 17px;
}

.remove-icon {
  cursor: pointer;
  padding: 3px;
  margin-left: 25px;
  box-shadow: 0px 0px 5px 0px rgba(252, 7, 7, 1);
}

.totalprice {
  font-size: 17px;
  font-weight: bolder;
}

.carditem-quantity {
  background-color: #9298c1;
  color: rgb(6, 12, 134);
}

/*================================================================*/

.cardItems-down {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cardItems-total {
  background-image: linear-gradient(130deg, #8ec5fc 0%, #e0c3fc 100%);
  flex: 1;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.cardItems-total h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #0e2c4d;
  font-weight: 900;
}

.cardItems-total-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-top: 5px;
}

.cardItems-total-item p {
  font-size: 16px;
}

.cardItems-total-item h3 {
  font-size: 18px;
}

.cardItems-total-item hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 5px 0;
}

.cardItems-total button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.cartItems-promocode {
  background-image: linear-gradient(-130deg, #8ec5fc 0%, #e0c3fc 100%);
  flex: 1;
  padding: 20px;
  padding-left: 50px;
  border: 2px solid #ccc;
}

.cartItems-promocode p {
  font-size: 16px;
  color: #00070e;
}

.cardItems-promobox input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  height: 30px;
  box-shadow: 0px 0px 5px 0px rgb(82, 78, 78);
  outline: none;
}

.cardItems-promobox button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}
