.descriptionbox {
  margin: 120px 170px;
}

.descriptionbox-navigator {
  display: flex;
}

.decriptionbox-navbox {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: #372828;
  width: 171px;
  height: 70px;
  border: 1px solid #ffffff;
}

.descriptionbox-description {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 48px;
  border: 1px solid #ffffff;
  padding-bottom: 70px;
}
